

body {
    background-image: url(./images/wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'digit';
    src: url(./fonts/DS-DIGIT.TTF)
}

#main {
    display: flex;
}

button {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 32px;
    padding: 18px;
    width: 82px;
    background-color: lightgray;
}

#clear, #del {
    width: 164px;
}

#clear {
    background-color: coral;
}

#del {
    background-color: rgb(165, 164, 113);
}

#equals {
    background-color: rgb(107, 224, 158);
}

#screen {
    width: 325px;
    height: 77px;
    background-color: rgba(173, 216, 230, 0.712);
    border-radius: 1%;
    margin-bottom: 5px;
}



 #calculator {
     background-color: rgb(121, 120, 120);
     display: flex;
     flex-direction: column;
     padding: 18px;
     border-radius: 3%;
     align-self: center;
 }

 #display {
     font-family: digit;
     font-size: 50px;
     margin-bottom: 0px;
     margin-top: 12px;
     margin-right: 8px;
     text-align: right;
 }

 #current-input {
     text-align: right;
     font-size: 32px;
     margin-top: 52px;
 }

 #buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#first-row, #second-row,
#third-row, #fourth-row,
#fifth-row {
    display: flex;
    justify-content: center;
}








